<header class="header-nav">
  <div>
    <a
      href="/"
    >
      <img width="70" height="50" loading="lazy" src="{{'logo.png' |  asset_url}}" alt="logo">
    </a>
  </div>
  <div>
    <ul class="middle-area-navbar">
      {% for link in linklists['main-menu-1'].links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="right-nav-items">
    <form action="/search">
      <input type="search" placeholder="search" class="search-nav">
    </form>
    <a
      href="/"
    >
      <img width="30" height="30" loading="lazy" src="{{'cart.png' |  asset_url}}" alt="logo">
    </a>
  </div>
</header>

{% style %}
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .middle-area-navbar {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  .middle-area-navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  .middle-area-navbar a:hover {
    color: blue;
  }

  .right-nav-items {
    display: flex;
    gap: 10px;
  }
  .search-nav {
    background: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    border: none;
  }
{% endstyle %}
