<header>
  <div>
    <a
      href="/"
    >
      <img width="70" height="50" loading="lazy" src="{{'logo.png' |  asset_url}}" alt="logo">
    </a>
  </div>
  <div>
    <ul class="middle-area-navbar">
      {% for link in linklists['main-menu-1'].links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="right-nav-items">
    <form action="/search">
      <input type="search" placeholder="search" class="search-nav">
    </form>
    <a
      href="/"
    >
      <img width="30" height="30" loading="lazy" src="{{'cart.png' |  asset_url}}" alt="logo">
    </a>
  </div>
</header>
