
 {% if section.settings['show-announcementbar'] %}

<section>
 Announcement Bar
</section>

{% endif %}

{% schema %}

{

"name": "announcement-bar",
"settings": [

 {

"type": "checkbox",
 "id": "show-announcementbar",
 "label": "Show Announcementbar",
 "default": true,


}

],
"presets": [
 {
 "name": "announcement-bar"
}
   
]

}

{% endschema %}

