body {
  margin: 0;
  padding: 0;
}

.announcement-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announcement-bar-inner-list {
  display: flex;
  gap: 20px;
}

.announcement-bar-inner-list li {
  list-style-type: none;
  font-size: 16px;
}
